@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url('../../public/backgroundlines.png'); */
  margin:0;
  padding: 0;
  /* background: rgb(14,14,19); */
  /* background-image: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgba(1,61,78,1) 50%, rgba(1,101,106,1) 100%); */
  /* background-image: linear-gradient(90deg, rgb(9, 31, 32) 0%, rgba(1,61,78,1) 50%, rgb(8, 82, 85) 100%); */
  /* https://csshero.org/mesher/ */
  /* background-color:hsla(165,54%,9%,1);
  background-image:
    radial-gradient(at 11% 7%, hsla(182,98%,20%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(193,97%,15%,1) 0px, transparent 50%),
    radial-gradient(at 54% 90%, hsla(343,0%,0%,1) 0px, transparent 50%); */
    background-color:hsla(165,54%,9%,1);
    background-image:
      radial-gradient(at 80% 64%, hsla(201,64%,11%,1) 0px, transparent 50%),
      radial-gradient(at 22% 16%, hsla(220,52%,14%,1) 0px, transparent 50%),
      radial-gradient(at 47% 51%, hsla(182,83%,14%,1) 0px, transparent 50%),
      radial-gradient(at 80% 100%, hsla(165,54%,9%,1) 0px, transparent 50%);
  background-size: 400%;
  animation: bg-animation 5s ease-in-out infinite alternate;
}

@keyframes bg-animation {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

.custom-text-gradient {
  /* background:linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(1,61,78,1) 50%, rgba(1,101,106,1) 100%);  */
  background-color:hsla(165,54%,9%,1);
  background-image:
    radial-gradient(at 80% 64%, hsla(201,64%,11%,1) 0px, transparent 50%),
    radial-gradient(at 22% 16%, hsla(220,52%,14%,1) 0px, transparent 50%),
    radial-gradient(at 47% 51%, hsla(182,83%,14%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(165,54%,9%,1) 0px, transparent 50%);
  background-size: 400%;
  animation: bg-animation 5s ease-in-out infinite alternate;
  color: transparent;
  background-clip: text;
}